@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.main-container {
    background-color: #86d2f2;
    height: 100vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-heading {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.button {
    margin: 5%;
    color: #ffffff;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    background-color: #1f1d41;

}

.bulb {
    background-color: #4b5069;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 20px;
}

.all-bulb {
    background-color: #1f1d41;
    width: 100px;
    border-radius: 40px;
    padding: 30px 5px;
    display: flex;
    flex-direction: column;
    gap: 30px
}

.flex-gap {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}


.button-container {
    display: flex;
    flex-direction: column;
    gap: 30px
}